name: Build and deploy
on:
  workflow_call:
    inputs:
      environment:
        required: true
        type: string
    secrets:
      NAIS_DEPLOY_APIKEY:
        required: true
      READER_TOKEN:
        required: true

jobs:
  build-and-deploy:
    name: Build docker image and deploy to nais k8s
    runs-on: ubuntu-latest
    environment: ${{ inputs.environment }}
    env:
      image: ghcr.io/${{ github.repository }}:deploy-${{ inputs.environment }}-${{ github.sha }}
      basePath: /min-app
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
      - name: Setup node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'
          registry-url: 'https://npm.pkg.github.com'
          cache: 'npm'
      - name: Define app environmment
        run: |
          cat > .env <<EOF
          VITE_APP_BASEPATH=${{ env.basePath }}
          ENV=${{ inputs.environment }}
          EOF
      - name: Install dependencies
        run: npm ci
        env:
          NODE_AUTH_TOKEN: ${{ secrets.READER_TOKEN }}
      - name: Build application
        run: npm run build
      - name: Login to Docker registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and push docker image
        run: |
          docker build -t ${{ env.image }} .
          docker push ${{ env.image }}
      - uses: nais/deploy/actions/deploy@master
        env:
          CLUSTER: ${{ inputs.environment }}-gcp
          APIKEY: ${{ secrets.NAIS_DEPLOY_APIKEY }}
          RESOURCE: .nais/config.yml
          VAR: image=${{ env.image }},basePath=${{ env.basePath }}
          VARS: .nais/vars-${{ inputs.environment }}.yml
